@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,900&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
}

.hero {
    background-image:url('https://blog.empuls.io/content/images/2022/11/workplace-movies.webp');
    background-size: cover;
}

.bg-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: rgba(0,0,0,.6);
}

.z-index-2 {
    z-index: 2;
}